body {
  margin: 0;
  font-family: sans-serif;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 50em;
}

.product-item {
  display: flex;
  align-items: center;
  box-shadow: 0 0.25em 1.5em -0.5em hsla(220, 30%, 70%, 0.6);
  margin-bottom: 1em;
  border-radius: 0.5em;
  overflow: hidden;
  img,
  .price {
    flex: 0;
  }
  img {
    width: 6em;
    margin-right: 1em;
  }
  .price {
    font-size: 1.25em;
    margin: 0 1em;
  }
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .actions {
    button {
      padding: 1.5em;
    }
  }
}

button,
input,
textarea {
  background-color: transparent;
  font: inherit;
  color: inherit;
  padding: 1em;
  border: 0;
}

button {
  cursor: pointer;
}

input,
textarea {
  border: 1px solid lightgray;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding: 1em 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 1em;
  }
  button {
    border: 1px solid lightgrey;
  }
}

.StripeElement {
  padding: 1em;
  border: 1px solid lightgrey;
  margin-bottom: 1em;
}
